*{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.p1 {
  text-align: center;
  border: none;
}

.h1 {
  color: white;
}

button {
  border: 1px solid white;
  color: white;
  transition: var(--smooth);
  padding: 20px;
  font-size: 20px;
}

button:active {
 cursor:pointer;
 background-color: white;
 color: black;
}

.pag {
  display: flex;
  color: white;
  text-align:left;
  padding: 20px;
}

@media print {
  body {page-break-after: always;}
}

:root {
  --smooth: all 0.3s ease-out;
}